{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Movie Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Movie Manager</h1>

    <table>
        <thead>
            <th>Título</th>
            <th>Director</th>
            <th>Lançamento</th>
            <th>Gênero</th>
        </thead>
        {% for mov in movies %}
        <tbody>
            <td><a href="{% url 'movie' mov.id %}">{{ mov.title }}</a></td>
            <td>{{ mov.director }}</td>
            <td>{{ mov.release }}</td>
            <td>{{ mov.genre }}</td>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>